#index-body {
	background: url('../img/oldfashioned-background.jpg');
	height: 100%;
	width: 100%;
	min-width: 800px;
}

body {
	min-width: 800px;
}

h1 {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
}

h2 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;

}

p {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	color: white;
}

a {
	text-decoration: none;
	margin: 0;

}

h3 {
	font-family: 'Raleway', sans-serif;
	color: white;
	margin: 0;
	text-transform: uppercase;
	font-family: 
}

li {
	font-family: 'open sans', sans-serif;
	color: white;
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	margin: 0;
}



#entry-text {
	position: absolute;
	width: 40%;
	margin-left: 800px;
	margin-top: 175px;

}

	#entry-text h1{
		font-size: 100px;
		color: #333366;
		text-align: justify all;
		width: 500px;
	}

	#entry-text p{
		padding-top: 20px;
		font-size: 27px;
		color: white;
		font-weight: lighter;
		text-align: center justify;
		width: 500px;
		text-transform: uppercase;
	}


#enter-button {
	position: absolute;
	margin-left: 800px;
	margin-top: 505px;
	height: 50px;
	width: 410px;
	border: 1px solid white;

}
	#enter-button:hover {
		background-color: #99FFCC;
		border: none;
	}

	#enter-button p {
		height: 100%;
		width: 100%;
		color: #66FFCC;
		text-align: center;
		text-transform: uppercase;
		padding-top: 13px;
		font-size: 18px;
	}

	#enter-button p:hover {
		color: white;
		
	}

/* menu */

.nav-panel {
	height: 800px;
	width: 20%;
	min-width: 325px;
	background: url('../img/menu-pattern.jpg');
	float: left;
	position: fixed;
	z-index: 1;
}

.nav-panel h1 {
	color: #00CC99;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}

.menu {
	
}

.menu-pattern {
	height: 100%;
	width: 100%;
	background: url('../img/menu-pattern.jpg');
}

.nav {
	background-color: black;
	height: 50px;
	width: 100%;
	border-bottom: 1px solid white;
}
	.nav:hover {
		background-color: #006666;
	}

	.nav h3 {
		padding-left: 25px;
		padding-top: 13px;
	}

	.nav-window{
		display: none;
	}

.nav-ad {
	height: 250px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 125px;
	outline: 1px solid white;

}

/* Side Body */

.side-body {
	margin-left: 325px;
	width: 80%;


}


.headline-container {
	width: 80%;
	height: 125px;
	margin-bottom: 25px;
	position: fixed;
	background: white;
	z-index: 1;
}
	.headline-container h1{
		text-align: center;
		padding-top: 5px;
		font-size: 55px;
	}
	
	
#headline-list{
	padding-top: 10px;
	width:700px;
	margin-left: auto;
	margin-right: auto;
	
}

#appendix-list #headline-list {
	width: 575px;

}
	#headline-list li{
		color: #006666;
		display: inline;
		font-size: 15px;
		text-transform: uppercase;
		text-align: center;
		padding: 20px;
		padding-top: 7px;
		padding-bottom: 7px;
		cursor: hand;
		border: 1px solid #006666;
	}
		#headline-list li:hover{
			border: none;
			background-color: #006666;
			color: white;
		}

.containers {
	width: 100%;
	height: 100%;
	padding-top: 125px;
}

.container {
	width: 100%;
	height: 700px;
	
}

.container h2 {
	font-size: 40px;
	color: white;
	margin-left: 25px;
	

}

.container-title {
	background-color: red;
	height: 100px;
	width: 500px;
	margin-top: 125px;
	position: absolute;

}

.container-text {
	position: absolute;
	height: 200px;
	width: 650px;
	margin-top: 575px;
	margin-left: 50px;
	
}

.container p {
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;

}

.container .button{
	position: absolute;
	width: 125px;
	height: 125px;
	margin-top: 550px;
	margin-left: 800px;
	background: url('../img/125x125-start-arrow-blue.png');

}

	.container .button:hover {
		background: url('../img/125x125-start-arrow-green.png');
	}

.button p {
	text-align: center;
	font-size: 15px;
	padding-top: 5px;
}

#body-container-1 {
	height: 100%;
	width: 100%;
	background: url('../img/container1.jpg');
}
#body-container-2 {
	height: 100%;
	width: 100%;
	background: url('../img/container2.jpg');
}
#body-container-3 {
	height: 100%;
	width: 100%;
	background: url('../img/container3.jpg');
}

/*Mixes*/

.recipe-headline {
	position: absolute;
	background-color: black;
	height: 100px;
	width: 925px;
	margin-left: 50px;
	margin-top: 10px;
	

}

.recipe-headline h1 {
	color: white;
	text-align: center;
	padding-top: 30px;
}
.recipe-top-row {
	
	height: 700px;
	width: 1100px;
	margin-top: 50px;
	display: inline;
	float: left;

}

.recipe-top-row img {
	float: left;
	margin-top: 75px;
	margin-left: 50px;
	width: 550px;
	height: 600px;
}

.recipe-text {
	width: 350px;
	float: left;
	margin-top: 75px;
	margin-left: 25px;
}

.recipe-top-row h3 {
	background-color: #003366;
	color: white;
	font-size: 30px;
	padding-bottom: 25px;
	padding-top: 25px;
	text-align: center;
}

.recipe-top-row p {
	padding-top: 10px;
	color: black;
	text-align: justify;
	line-height: 23px;
	font-size: 18px;
}

.recipe-button {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	height: 125px;
	width: 125px;
	background: url('../img/down-arrow-blue.png');
}
	.recipe-button:hover {
		background: url('../img/down-arrow-green.png');
	}

.recipe-button p {
	text-align: center;
	text-transform: uppercase;
	padding-top: 130px;
	font-family: "open sans";
}

.recipe-row-2 {
	height: 400px;
	width: 1100px;
	margin-top: 25px;
	margin-left: 50px;
	margin-bottom: 10px;
	float: left;

}

.recipe-row-2 img {
	float: left;

}

.recipe-ingredients {
	float: left;
	margin-top: 10px;
	width: 625px;
	height: 400px;
}

.recipe-ingredients h1 {

	margin-top: 10px;
}

.recipe-ingredient {
	margin-top: 10px;
	height: 200px;
	width: 150px;
	box-shadow: 3px 3px 5px #888888;
	float: left;

}

.recipe-ingredient img {
	margin-top: 10px;
}

.recipe-ingredient h3 {
	padding-top: 10px;
	color: black;
	text-align: center;
	font-size: 15px;
}

.recipe-ingredients li{
	color: black;
	padding-top: 25px;
	list-style-type: none;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

.recipe-row-3 {
	width: 1100px;
	margin-left: 75px;
	padding-top: 25px;
}

.recipe-row-4 {
	margin-left: 75px;
	width: 1100px;
}



.step {
	height: 300px;
	float: left;
	margin-top: 50px;
}

.step-image{
	height: 300px;
	width: 300px;
	outline: 1px solid black;
	float: left;
}

.step-text {
	float: left;
	width: 400px;
	margin-left: 50px;
}

.step-text h3 {
	background: #003366;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.step-text p {
	text-align: justify;
	color: black;
	padding-top: 25px;
}

.recipe-ad {
	float: left;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	height: 100px;

}

/*Appendix*/

#list-column {
	position: absolute;
	width: 200px;
	height: 100%;
	border: 1px solid black;
	margin-top: 150px;
	margin-left: 5px;
}

#icon-column {
	position: absolute;
	width: 1100px;
	height: 100%;
	margin-top: 150px;
	margin-left: 50px;

}

#icon-column .row {
	width: 100%;
	padding-bottom: 25px;
}

#icon-column .row h1 {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 10px;
	color: white;
	background-color: red;
	font-weight: bold;
	width: 1018px;
	float: left;
	height: 75px;

}

.icon-box {
	border-radius: 5%;
	height: 250px;
	width: 250px;
	box-shadow: 3px 3px 5px #888888;  
	float: left;
	margin-right: 5px;
}
	.icon-box:hover {
		height: 250px;
		width: 250px;
		box-shadow: 3px 3px 5px #99FFCC;
		border-top: 1px solid #99FFCC;
		border-left: 1px solid #99FFCC;

	}


.icon-box h3 {
	text-align: center;
	color: black;
	padding-top: 10px;
}

.icon-box p {
	padding-top: 3px;
	color: black;
	text-align: center;
}
	.icon-box p:hover {
		color: red;
		text-decoration: underline;
	}


.icon-box img {
	height: 150px;
	width: 150px;
	margin-left: 50px;
	margin-top: 20px;


}

.banner-ad {
	width: 100%;
	height: 100px;
	height: 90px;
	width: 728px;
	outline: 1px solid black;
	background: url('../img/728x90-demo.jpg');

}

.appendix-banner-ad {
	float: left;
	width: 100%;
	height: 100px;

	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 150px;
	
}

.test-leaderboard {
	width: 737px;
	height: 250px;
	padding-top: 80px;
	margin-left: 28px;
	float: left;
}

/*Ingredient Page*/

.ingredient-row {
	position: absolute;
	width: 1100px;
	height: 500px;
	margin-top: 125px;
	margin-left: 10px;

}

.ingredient-image-box{
	height: 500px;
	width: 500px;
	float: left;
	
}

.ingredient-text-box {
	height: 500px;
	width: 400px;
	text-align: justify;
	margin-top: 80px;
	margin-left: 550px;
}
	.ingredient-text-box p {
		color: black;
	}

/*CALCULATOR*/
