/*RESPONSIVE*/

@media (max-width: 1000px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: block;
    }
    .headline-container {
        width: 100%;
        height: auto;
        /*height: 125px;*/
    }
    nav {
        left: -350px;
        margin-top: 25px;
    }
    .content {
        margin-left: 0;

    }

    #headline-list {
        display: none;
    }
    
}