/* Side Body */

.content {
	width: 76%;
}

.side-body {
	/*margin-left: 325px;*/
	width: 100%;
	height: 100%;

}

.containers {
	width: 100%;
	height: 100%;
	padding-top: 125px;
}

.container {
	width: 100%;
	height: 700px;
	
}

.container h2 {
	font-size: 40px;
	color: white;
	margin-left: 25px;
}

.container-title {
	background-color: red;
	height: 100px;
	width: 500px;
	margin-top: 125px;
	position: absolute;
}

.container-text {
	position: absolute;
	height: 200px;
	width: 650px;
	margin-top: 575px;
	margin-left: 50px;
}

.container p {
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.container .button{
	position: absolute;
	width: 125px;
	height: 125px;
	margin-top: 550px;
	margin-left: 800px;
	background: url('../img/125x125-start-arrow-blue.png');
}

.container .button:hover {
	background: url('../img/125x125-start-arrow-green.png');
}

.button p {
	text-align: center;
	font-size: 15px;
	padding-top: 5px;
}

#body-container-1 {
	height: 100%;
	width: 100%;
	background: url('../img/container1.jpg');
}
#body-container-2 {
	height: 100%;
	width: 100%;
	background: url('../img/container2.jpg');
}
#body-container-3 {
	height: 100%;
	width: 100%;
	background: url('../img/container3.jpg');
}