<nav>
  <div class="menu">

    <div class="menu-search">
    </div>

    <a href="../home.html">
      <div class="nav">
        <h3>Home</h3>
      </div>
    </a>

    <div class="nav">
      <h3>Family Trees</h3>
      <div class="nav-window">
        <a href="#">
          <div class="nav">
            <h3>Whiskey</h3>
          </div>
        </a>
      </div>
    </div>

    <a href="appendix.html">
      <div class="nav">
        <h3>Appendix</h3>
        <ul></ul>
      </div>
    </a>

    <a href="#">
      <div class="nav">
        <h3>Blog</h3>
        <ul></ul>
      </div>
    </a>

    <a href="#">
      <div class="nav">
        <h3>Contact</h3>
        <ul></ul>
      </div>
    </a>

    <div class="nav-ad">
      <img src="../img/300x250-demo.jpg"/>
    </div>

  </div>
</nav>