<div id="index-body">
  <div id="entry-text">
    <h1>Mix and Stones</h1>
    <p>An Evolving Cocktail Guide</p>
  </div>

  <a href="/home">
    <div id="enter-button">
      <p>Start</p>
    </div>
  </a>
</div>